@font-face {
    font-family: "poppinsemibold";
    src: url("../../../public/fonts/PoppinsSemibold-8l8n.otf");
}

@font-face {
    font-family: "regencieLight";
    src: url("../../../public/fonts/RegencieLight-M2gn.ttf");
}

.about {
    position: relative;
    display: flex;/*vertical center*/
    flex-direction: column;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.about-bg-left {
    display: inline-block;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    /*use Grabient website to get the gradient color*/
    width: 40%;
    height: 900px;
}

.about-bg-right {
    display: inline-block;
    background-color: white;
    width: 60%;
    height: 900px;
}

.about-info-div {
    position: absolute;
    font-size: 80px;
    width: 900px;
    height: 530px;
    background-color: white;
    left: 50%;/*horinzontally center*/
    transform: translate(-50%);
    background-color: white;
}

.about-info-left-part {
    float: left;
    background-color: #97e1bc;
    width: 400px;
    height: 530px;
    box-shadow: -6px 0px 8px 0 rgba(114, 114, 114, 0.2);
    position: relative;
}

.about-info-left-part div {
    left: 50%;/*horinzontally center*/
    transform: translate(-50%);
}

.about-info-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    background: url(../../images/about-avatar.jpg);
}

.about-info-name {
    width: 100px;
    position: absolute;
    top: 280px;
    font-size: 25px;
    font-family: poppinsemibold;
    font-weight: bold;
    text-align: center;
}

.about-info-blue-line {
    width: 50px;
    height: 2px;
    background-color: rgb(45, 45, 251);
    position: absolute;
    top: 380px;
}

.about-info-career {
    font-size: 17px;
    font-family: regencieLight;
    letter-spacing: 3px;
    position: absolute;
    top: 415px;
    width: 100%;
    text-align: center;
}

.about-info-media-div {
    position: absolute;
    bottom: 0;
    background-color: white;
    height: 50px;
    width: 100%;
}

.about-info-right-part {
    width: 400px;
    height: 530px;
    float: left;
}

.about-info-right-part div {
    padding: 20px;
    padding-left: 50px;
}

.about-info-text-1 {
    font-size: 100px;
    font-weight: bold;
}

.about-info-text-2 {
    font-size: 53px;
    font-weight: bold;
    letter-spacing: 8px;
}

.about-info-text-3 {
    font-size: 28px;
    font-weight: bold;
}

.about-info-button-div {
    position: relative;
}