.about-download-btn {
    background-color: #94b0a0;
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    line-height: 35px;
    max-width: 480px;
    height: 35px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    position: absolute;
    display: inline-block;
}

.about-download-btn:hover,
.about-download-btn:active {
    background-color: #97D9E1;
}