.media-div {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: auto;
    bottom: auto;
}

.media-div img {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}