.a { 
    width: 90px; 
} 

.b { 
    width: 80px; 
    height: 50px; 
    text-align: center;
    line-height: 50px;
} 

.c { 
    width: 100px; 
    height: 300px; 
    display: none;
} 

ul { 
    list-style: none; 
    margin-left: -40px; 
} 

ul li { 
    line-height: 50px; 
    display: block;
    width: 100px; 
    text-align: center; 
} 

.a:hover { 
    cursor: pointer; 
} 

.a:hover .c { 
    display: block; 
} 

.a:hover .b { 
    color: blue;
} 

li:hover { 
    background-color: gray; 
    color: #FFFFFF; 
}