.navbtn-container { 
    width: 90px; 
} 

.navbtn-btn { 
    width: 80px; 
    height: 50px; 
    text-align: left;
    line-height: 50px;
} 

.navbtn-sublist { 
    width: 100px; 
    height: 300px; 
    display: none;
} 

.navbtn-container:hover { 
    cursor: pointer; 
} 

.navbtn-container:hover .navbtn-sublist { 
    display: block; 
} 

.navbtn-container:hover .navbtn-btn { 
    color: blue;
} 

.navbtn-container:hover .navbtn-sublist .navbtn-btn { 
    color: black;
} 
