.resume {
    background-color: #a4ceb8;
    width: 100%;
}

.resume-context {
    width: 700px;
    margin: auto;/*horizontally center*/
}

.resume-heading, .resume-ending {
    width: 700px;
    height: 120px;
    font-family: 'poppinsemibold';
    font-size: 25px;
    font-weight: bold;
    padding-top: 100px;
}

.resume-info-block {
    width: 700px;
}

.resume-info-shadow {
    box-shadow: 0px 0px 10px rgb(155, 154, 154);
}